<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "profile.jpeg" %>
    </div>
</div>

<div id="content">
    <h1>It's Mr. AZure</h1>
    <p>在七飯町失去蹤跡的田野岡，於3日上午7時50分左右，在距離失蹤地點約7公里的鹿部町自衛隊演習場被發現。
    NHK報導，當時陸上自衛隊員正在駒岳演習場進行操演，意外發現供自衛隊員休息的房舍內竟有一名男童。自衛隊員問他「難道你就是大和嗎？」
    這名男童頗有元氣地回答：「我就是！」</p>
</div>